<div class="container">
    <div class="row">

        <div class="iface">
            <input type="text" id="message" placeholder="Your chat message here..." [(ngModel)]= "newContent">
            <input type="submit" class="submit" value="Send now" (click)="updateContent()">

          <div *ngFor="let msg of messages | async">
            <div class="details-container">
                <div class="row">
                    <div class="medium-9 columns">
                    <p>  {{msg.message}} </p>
                    </div>

                    <div class="medium-3 columns">
                      <button>delete </button>
                      <button>edit </button>
                    </div>
                </div>
            </div>

          </div>


        </div>
    </div>
</div>
